@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #0ff;
}

section {
  display: flex;
  justify-content: center;
  gap: 10%;
}

h1 {
  margin-left: 32%;
}

.subtitle1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#btn {
  width: 80px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 4px 4px;
}

li {
  list-style-type: none;
}

.scores {
  border: 2px solid #e6be8a;
}

ul {
  list-style: none;
  padding: 1.5% 2%;
  margin: 0;
  background-color: #fff;
}

ul:nth-child(odd) {
  background-color: #d3d3d3;
}

input {
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
}

#submit {
  width: min-content;
  display: flex;
  margin-left: auto;
  box-shadow: 4px 4px;
  background-color: #fff;
}
